<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/js/styles.css">
    <style>
      body {
      background-color: #000;
      background-image: url('leather.jpg');
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-repeat:no-repeat;
      background-size:cover;
      }
     </style>

    <title>orders</title>
</head>
<body>
   <h1>Prekių užsakymo langas žmogui</h1>
   <p>Šis langas turi atsidaryti, paspaudus "Cart", žmogus užpildo savo duomenis.
       Čia taip pat bus prekės, kuris žmogus bus įsimetęs iš anksto, spaudęs ant "Add" mygtuko "Backpacks" lange</p>
   <form action="#" th:action="@{/createorder}" th:object="${orders}" method="post">
       <table border="0" cellpadding="10">
           <tr>
               <td>Pilnas vardas:</td>
               <td><input type="text" th:field="*{fullName}" /></td>
           </tr>
           <tr>
               <td>Adresas:</td>
               <td><input type="text" th:field="*{shippingAddress}" /></td>
           </tr>
           <tr>
               <td>Šalis:</td>
               <td><input type="text" th:field="*{country}" /></td>
           </tr>
           <tr>
               <td>Telefono numeris:</td>
               <td><input type="text" th:field="*{phoneNumber}" /></td>
           </tr>
           <tr>
               <td>El. paštas:</td>
               <td><input type="text" th:field="*{emailAddress}" /></td>
           </tr>
           <tr>
               <td colspan="2"><button type="submit">Save</button> </td>
           </tr>
       </table>
   </form>
<!--
   <form action ="#" th:action="@{/createorder}" th:object="${orders}" method="post" style="padding-left: 80px;">
       <div>
           <div class="form-group" style="width: 200px;">
               <label for="fullName" class="col-form-label">Pilnas vardas:</label>
               <input type="text" th:field="*{fullName}" class="form-control" id="fullName">
           </div>
           <br>
           <div class="form-group" style="width: 200px;">
               <label for="shippingAddress" class="col-form-label">Adresas:</label>
               <input type="text" th:field="*{shippingAddress}" class="form-control" id="shippingAddress">
           </div>
           <br>
           <div class="form-group" style="width: 200px;">
               <label for="country" class="col-form-label" >Šalis:</label><br>
               <input type="text" th:field="*{country}" class="form-control" id="country">
           </div>
           <br>
           <div class="form-group" style="width: 200px;">
               <label for="phoneNumber" class="col-form-label">Telefono numeris:</label>
               <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber">
           </div>
           <br>
           <div class="form-group" style="width: 200px;">
               <label for="emailAddress" class="col-form-label">El. paštas:</label>
               <input type="text" th:field="*{emailAddress}" class="form-control" id="emailAddress">
           </div>
           <br>
       </div>
       <br>
       <div>
           <div class="col-md-6 mt-5">
               <input type="submit" class="btn btn-primary" value="Užsakyti">
           </div>
       </div>
   </form>
-->
</body>
</html>